body {
  background-color:rgb(137, 136, 136);
}

.container {
  background-color:white;
  width:300px;
  margin:0 auto;
  padding:10px;
  user-select:none;
}

#timer {
  background-color:rgb(162, 158, 158);
  margin:0 auto;
  text-align:center;
  height:100px;
  line-height:100px;
  font-size:50px;
}

ul {
  display:flex;
  padding:0;
  margin:15px 0 5px 0;
}

li {
  list-style:none;
  background-color:rgb(138, 138, 138);
  width:90px;
  height:40px;
  line-height:40px;
  text-align:center;
  cursor:pointer;
}

#stop {
  margin:0 15px;
}

.inactive {
  opacity:0.7;
}
